html,body{
    height:100%;
    width:100%;
}

.button{
    width:150px;
    padding:30px;
    margin:0 10px;
    cursor: pointer;
    border:3px solid black;
    border-radius: 50%;
    font-size: 75px;
    /* shadow: 140% greenyellow; */
}

.row{
    margin: 5px 0;;
}

.row input{
    width: 684px;
    font-size:90px;
    padding: 11px;
    
}

h1{
    font-size:70px;
}