.text-center{
    text-align: center;
}

.bg-blue{
    background-color: blue;
}

 .mx-auto{
    margin:auto;

 }
 
 .flex{
    display: flex;
 } 
 .flex-col{
    flex-direction: column;
 }

 .items-center{
    align-items:center
 }